body, html {
  background-image: url("https://c.files.bbci.co.uk/CF3C/production/_111925035_penguino.jpg");
}

p.center {
  color: red;
  text-align: center;
}

body {
  background-color: green;
}

button {
  background-color: powderblue;
  border-radius: 5px;
  border: 2px solid #121212;
  height: 5%;
  width: 19%;
}

button:hover {
  background-color: blue;
  border-radius: 5px;
  color: white;
}

#countries-dd {
  background-color: powderblue;
  border-radius: 5px;
  border: 2px solid #121212;
  height: 5%;
  text-align-last: center;
  width: 19%;
}

address {
  font: 12px Arial;
  text-align: center;
}

figure {
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
}
